<div class="flex-column nav2">
    <a href="{{ path('nav') }}"><div class="btn btn-default btnNav">Pages</div></a>
    <div class="btn btn-default">Produits</div>
    <a href="{{ path('createportfolio') }}"><div class="btn btn-default btnNav">Create PF</div></a>
    <a href="{{ path('createtypeportfolio') }}"><div class="btn btn-default btnNav">Create TPF</div></a>
    <div class="btn btn-default">rien</div>
    <div class="btn btn-default">rien</div>
    <div class="btn btn-default">rien</div>
    <div class="btn btn-default">rien</div>
</div>