{% extends":HolluxBase:base.html.twig" %}
 
{% block principal %}

    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.6/css/jquery.dataTables.min.css"/>
    <script src="https://code.jquery.com/jquery-1.11.2.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.6/js/jquery.dataTables.min.js"></script>
    <script>
        $(function () {
            $('#categorie-list').DataTable({
                "processing": true,
                "serverSide": true,
                "ajax": "{{ path('categorie_paginate') }}",
                "sAjaxDataProp": "data",
                "pageLength": 10,
                "columns": [
                    {"data": "id"},
                    {"data": "name"},
                    {"data": "createdAt"}
                ]
            });
        });
    </script>

    <table id="categorie-list">
        <thead>
        <tr>
            <th>ID</th>
            <th>Nom</th>
            <th>Crée le</th>
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>

{% endblock %}