<footer>
    <div class="text-center footerA">
        <div class="w25 fLeft footerB">
            <a class="m0auto" href="{{ path('home') }}">
                <img class="m0auto" src="/img/logoHollux3blanc.png" alt="logo">
            </a>
        </div>
        <div class="w25 fLeft  footerB">
            <p>&#169 2016 Adrien MARCHAND - Tous droits réservés.</p>
        </div>
        <div class="w25 fLeft  footerB">
            <p><a href="{{ path('home') }}"><b>Accueil</b></a></p>
            <p><a class="barre" href="#"><b>Glossaire</b></a></p>
        </div>
        <div class="w25 fLeft  footerB">
            <p>www.hollux.fr</p>
            <a class="barre" href="#">Mentions légales</a>
        </div>
    </div>
</footer>