<h1>Bienvenue sur Hollux.fr</h1>
<br>
<p>Merci de vous êtres inscrit.</p>
<p>Votre indentifiant est {{ user.name }}, n'hésitez pas à tester mon
    site sandbox et à partager vos avis.</p>
<br>
<p>Cordialement,</p>
<p>Hollux</p>
{#
<br>
<img src="{{ absolute_url(asset('img/logo Hollux 2.jpg')) }}" style="max-width : 300px">#}
