<h1>Demande de reset de votre mot de passe.</h1>
<br>
<p>Copiez le lien suivant pour choisir un nouveau mot de passe.</p>
<p>www.hollux.fr{{ path('resetpassword', {'token': user.tokenMdp}) }}</p>
<br>
<p>Si vous n'avez pas fais de demander de mot de passe merci de contacter le support.</p>
<p>Cordialement,</p>
<p>Hollux</p>
{#
<br>
<img src="{{ absolute_url(asset('img/logo Hollux 2.jpg')) }}" style="max-width : 300px">#}
