<!DOCTYPE html>
<html>
<head>
    <title>Alc {% block titleBase %}{% endblock %}</title>
    <meta charset="UTF-8">
    <!--    BOOTSTRAP -->
    <link href="/bootstrap/css/bootstrap.css" media="print,screen" rel="stylesheet"/>
    <!--    JQUERY -->
    <script type="text/javascript" src="/scripts/jquery-2.2.3.js"></script>
    <!--   ALC CSS -->
    <link href="/Alc/alc.css" media="print,screen" rel="stylesheet"/>
    <!-- ALC JS -->
    <script type="text/javascript" src="/Alc/alcScript.js"></script>
    <!-- Important Owl stylesheet -->
    <link rel="stylesheet" href="//owl-carousel/owl.carousel.css">

    <!-- Default Theme -->
    <link rel="stylesheet" href="//owl-carousel/owl.theme.css">

    <!-- Include js plugin -->
    <script src="//owl-carousel/owl.carousel.js"></script>
    {% block head %}{% endblock %}
</head>
<body>
<div class="">
    <br>
    {{ include('Alc/nav.html.twig') }}
    {% block principal %}{% endblock %}
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="container2">
    {{ include('Alc/footer.html.twig') }}
</div>
<script type="text/javascript" src="/bootstrap/js/bootstrap.js"></script>
{% block script %}{% endblock %}
</body>
</html>

