CODE HTML
<div class="panel panel-code">
    <div class="panel-heading">
            <pre>
                <code class="language-markup">

                </code>
            </pre>
    </div>
</div>


DIVCEPTION
<div class="row">
    <div class="col-lg-6">
        CONTENU I
        <div class="row">
            <div class="col-lg-6">
                CONTENU II
                <div class="row">
                    <div class="col-lg-6">
                        CONTENU III
                        <div class="row">
                            <div class="col-lg-6">CONTENU IIII</div>
                            <div class="col-lg-6">CONTENU IIII</div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        CONTENU III
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                CONTENU II
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        CONTENU I
    </div>
</div>

<style>
    .row div {
        border: 1px solid lightgrey;
    }
</style>