{% extends":HolluxBase:base.html.twig" %}

{% block title %}Register{% endblock %}

{% block principal %}

    <h1>formulaire :</h1>

    {{ form_start(form) }}
    <div class="form-group">
        {{ form(form) }}
    </div>

    {{ form_end(form) }}


{% endblock %}