{% extends":HolluxBase:base.html.twig" %}

{% block title %}RestPassword{% endblock %}

{% block principal %}



    {% if token == false %}
        <h1>Mot de passe oublié ?</h1>
    {% else %}
        <h1>Nouveau mot de passe</h1>
    {% endif %}


    {% if error %}
        <div>
            {{ error|trans }}
        </div>
        <br>
    {% endif %}

    <form action="{{ path('resetpassword', {'token': token}) }}" method="post">
        {% if token == false %}
            <label for="username">Votre adresse email</label>
            <input class="form-control" type="text" id="usermail" name="_usermail"/>
        {% else %}
            <label for="password">Nouveau mot de passe</label>
            <input class="form-control" type="password" id="password" name="_password"/>
        {% endif %}

        <button class="btn btn-success" type="envoyer">Envoyer</button>
    </form>


{% endblock %}