{% extends":TutosHollux:base.html.twig" %}

{% block titleBase %} - {% endblock %}

{% block principal %}
    <h1 class="text-center">Les Tutos Code d'Hollux</h1>
    <p>Salut bande de bâtards !</p>
    <p>Vous êtes tombé sur une doc et n'avez rien compris ?</p>
    <p>Vous cherchez des infos pour faire une applis symfony 3 ?</p>
    <p>Alors vous êtes au bon endroit ! Sinon je vous invite à aller <a href="http://www.kawaii-boutique.com/fr/">la</a>,
        <a href="http://desencyclopedie.wikia.com/wiki/Accueil">la</a> ou <a href="http://www.youporn.com">la</a> et à ne jamais revenir.</p>
    <br>
    <p>Vous retrouverez dans le menu les différents tutos réalisé à ce jour.</p>
    <p>Ils n'inventent et ne révolutionnent rien, c'est simplement des explications , exemples et astuces de ce que j'ai pu réaliser et apprendre jusque la en temps que développeur symfony 3.</p>

{% endblock %}

{% block script %}
    {{ parent() }}
{% endblock %}