{% extends":HolluxBase:base.html.twig" %}

{% block principal %}

    <div class="competences text-center">
        <h1>Langages</h1>

        <div class="md-flex-center">
            <img src="/img/html5.png" alt="Html5">
            <img src="/img/css3.png" alt="CSS3">
            <img src="/img/php.png" alt="PHP">
            <img src="/img/js.png" alt="JS">
            <img src="/img/less.png" alt="Less">
            <img src="/img/sass.jpg" alt="Sass">
        </div>
        <br>
        <div class="border"></div>
        <h1>Frameworks</h1>
        <div class="md-flex-center">
            <img src="/img/bootstrap.jpg" alt="Bootstrap">
            <img src="/img/jquery.png" alt="Jquery">
            <img src="/img/symfony.png" alt="Symfony">
        </div>
        <br>
        <div class="border"></div>
        <h1>Base de données</h1>
        <div class="md-flex-center">
            <img class="mysql" src="/img/mySQL.png" alt="mysql">
        </div>
        <br>
        <div class="border"></div>
        <h1>CMS</h1>
        <div class="md-flex-center">
            <img src="/img/wp.png" alt="Wordpress">
        </div>
        <br>
        <div class="border"></div>
        <h1>Systemes d'éxploitation</h1>
        <div class="md-flex-center">
            <img src="/img/windows.png" alt="windows">
            <img src="/img/linux.png" alt="linux">
        </div>
        <br>
        <div class="border"></div>
        <h1>Autres</h1>
        <div class="md-flex-center">
            <img src="/img/xampp.png" alt="xampp">
            <img src="/img/wamp.png" alt="wamp">
            <img src="/img/easyphp.png" alt="easyphp">
            <img src="/img/apache.jpg" alt="apache">
            <img src="/img/filezilla.png" alt="filezilla">
        </div>
        <br>
        <div class="md-flex-center">
            <img src="/img/ovh.png" alt="ovh">
            <img src="/img/github.png" alt="github">
        </div>
    </div>

{% endblock %}