{% extends":HolluxBase:base.html.twig" %}

{% block principal %}

    <h1>page</h1>

    <p>Test du formulaire ChoiceStringType</p>

    {{ form_start(form) }}
    {{ form_end(form) }}

{% endblock %}