{% extends":TutosHollux:base.html.twig" %}

{% block titleBase %} - {% endblock %}

{% block principal %}
    <h1 class="text-center">Les Tutos Code d'Hollux</h1>
    <p>Bonjour aux développeurs/Intégrateurs.</p>
    <p>Vous êtes tombé sur une doc que vous n'avez pas bien compris ?</p>
    <p>Vous cherchez des infos pour faire une applis symfony 3 ?</p>
    <p>Alors vous êtes au bon endroit !</p>
    <br>
    <p>Vous retrouverez dans le menu les différents tutos réalisé à ce jour.</p>
    <p>Ils n'inventent et ne révolutionnent rien, c'est simplement des explications , exemples et astuces de ce que j'ai pu réaliser et apprendre jusque la en temps que développeur symfony 3.</p>
    <p>N'hésitez pas à m'envoyer vos retours, des informations complémentaires ou des envi de tutos.</p>

{% endblock %}

{% block script %}
    {{ parent() }}
{% endblock %}