{% extends":HolluxBase:base.html.twig" %}

{% block head %}
    <link  href="{{ asset('/library/Semantic-UI-CSS-master/semantic.css') }}"
           media="print,screen" rel="stylesheet"/>

{% endblock %}

{% block principal %}
    <h1>Test value</h1>

    <div id="vueValue" class="ui main">

        <input type="text" v-model="message">
        $$ message $$


    </div>


{% endblock %}

{% block script %}
    parent()
    {# <script type="text/javascript" src="
 {{ asset('https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.2/components/accordion.js') }}"></script>#}
    <script type="text/javascript" src="{{ asset('/library/VueJS/vue.js') }}"></script>
    {#<script type="text/javascript" src="{{ asset('/scripts/vueJS.js') }}"></script>#}

    <script>
        let vue = new Vue({
            delimiters: ['$$', '$$'],
            el: '#vueValue',
            data: {
                message:  `ezmklf`,
            },
            methods : {
                changevalue(value): { value >> 0).toString() }
            }
        });
    </script>

{% endblock %}