{% extends":HolluxBase:base.html.twig" %}

{% block head %}{% endblock %}

{% block principal %}
    <H1>HOME ECOM</H1>

    <p>Début de travail sur un E-commerce maison SF3.</p>
    <a href="{{ path('ecomindex') }}" target="_blank">
        Petite page de test d'un listBuilder pour afficher des listes de produit(pas encore concluant).</a>
{% endblock %}

{% block script %}
    {{ parent() }}
{% endblock %}